---
layout: default
title: Focus on Web develop, yirankiller.      Hi 
---
{% include JB/setup %}
Follow me at: [yirankiller](http://weibo.com/yirankiller)

Contact me by: [yirankiller@gmail.com](yirankiller@gmail.com)

<div class="nav-list-container">
  <div class="nav-list-label"><span></span></div>
  <ul class="posts nav-list">
      <li class="home">Ikiller's Bolg ,Focus on web develop.</li>
    {% for post in site.posts %}
      <li>
        <a href="{{ BASE_PATH }}{{ post.url }}">
          <span>{{ post.date | date_to_string }} write:  {{ post.title }} </span>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>