a:link {color: #000000}     /* 未访问的链接 */
a:visited {color: #000000}  /* 已访问的链接 */
a:active {color: #000000}   /* 被选择的链接 */

.nav-list-container ul {
    list-style: none;
    margin-left: 0px;
}
.nav-list-container .nav-list{
    padding: 0 6px;
}
.nav-list-container .nav-list .home{
    border: 0;
    font-weight: bold;
    color: #88bb00;
    font-size: 20px;
    font-family: 'Gloria Hallelujah', Arial, Helvetica, sans-serif;
}
.nav-list-container .nav-list li{
    line-height: 20px;
    padding: 10px 20px;
    border-top: 2px solid #f8f8f8;
    font-family: 'Gloria Hallelujah', Arial, Helvetica, sans-serif;
}
.nav-list-container .nav-list li a:hover {
    color: #88bb00;
    font-weight: bold;
    text-decoration: none;
}
.nav-list-container .nav-list-label{
    width: 100%;
    height: 45px;
    position: absolute;
    z-index: -1;
    left: -7px;
    background-color: #f8f8f8;
    overflow: visible;
}
.nav-list-container .nav-list-label span {
    width: 7px;
    height: 100%;
    float: left;
    background-color: #88bb00;
}
.current-cat{
    color : #88bb00;
}
.nav-list-container{
    width:700px;
    padding-top: 27px;
    position: relative;
    left:25px;
}


